<!doctype html>
<html ng-app="story-parse" ng-controller="StoryParseCtrl">
<meta charset="utf8">
<title>User Story Parser</title>

<style>
  * { box-sizing: border-box; }
  body {
    margin: 0;
    padding: 0;
    font: 14px/1.5 sans-serif;
    padding-left: 50vw;
  }
  h1, h2 {
    margin: 0;
  }
  header {
    padding: 1em;
    border-bottom: 1px solid #444;
    background: #fafafa;
  }
  header h1 {
    display: inline-block;
    font-size: 1em;
    float: right;
  }
  input[type=search] {
  }
  textarea {
    display: block;
    width: 50vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    border-right: 1px solid #444;
    padding: 1em;
    font: 14px/1.5 sans-serif;
  }
  textarea:focus {
    outline: none;
    background: #fafafa;
  }
  .stories, .actors {
    padding: 1em 1em 0;
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.3/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

<header>
  <h1>multistory</h1>
  Search: <input ng-model="search" type="search">
</header>

<textarea ng-model="file.raw" ng-change="parse()"></textarea>

<div class="actors">
  Show:
  <button ng-repeat="actor in actors"
          ng-click="searchFor(actor)">{{actor}}</button>
</div>

<div class="stories">
  <div ng-repeat="stories in groupsArray | removeEmpty">
    <h2>{{stories.$key}}</h2>
    <ul>
      <li ng-repeat="story in stories | filter:search">
        <strong>{{story.who}}</strong>
        :
        {{story.what}}
        :
        <em>{{story.why}}</em>
        <span ng-show="story.sizes.length">
          :
          <span ng-repeat="size in story.sizes">[{{size}}]</span>
        </span>
      </li>
    </ul>
  </div>
  <div ng-hide="groupsArray.length">
    No stories found!
  </div>
</div>

<script>

angular.module('story-parse', [])

.factory('storage', function () {
  return {
    get: function (identifier) {
      return JSON.parse(localStorage.getItem(identifier)) || undefined;
    },
    save: function (identifier, data) {
      return localStorage.setItem(identifier, JSON.stringify(data));
    }
  };
})

.filter('toArray', function () {
  return function (obj) {
    return Object.keys(obj).map(function (key) {
      obj[key].$key = key;
      return obj[key];
    });
  };
})

.filter('extract', function () {
  return function (array, key) {
    return array.map(function (element) {
      return element[key];
    }).filter(function (element) {
      return !!element;
    });
  };
})

.filter('storyOrder', function () {
  var lookup = {
    'icebox': 100,
    'backlog': 90,
    'in progress': 80,
    'in testing': 60,
    'done': 40
  };
  return function (array) {
    return array.sort(function (a, b) {

      var aVal = lookup[a.$key.toLowerCase().trim()] || 1000,
          bVal = lookup[b.$key.toLowerCase().trim()] || 1000;
      return aVal - bVal;
    });
  };
})

.filter('removeEmpty', function () {
  return function (array) {
    return array.filter(function (subArray) {
      return !!subArray.length;
    });
  };
})

.filter('distinct', function () {
  return function (array) {
    var lookup = {};
    return array.filter(function (element) {
      return lookup[element] ? false : lookup[element] = true;
    });
  };
})

.controller('StoryParseCtrl', function ($scope, $filter, storage) {

  $scope.file = storage.get('file') || {
    raw: 'Paste your user stories file here.',
    groups: []
  };

  $scope.$watch('file.raw', function () {
    $scope.groupsArray = $filter('storyOrder')(
                           $filter('toArray')(
                             $scope.file.groups
                           )
                         );
    var actors = [];
    $scope.groupsArray.forEach(function (stories) {
      actors = actors.concat(stories.map(function (story) {
        return story.who;
      }));
    });
    $scope.actors = $filter('distinct')(actors);
  });

  $scope.parse = function () {
    var lines = $scope.file.raw.split('\n'),
        groupname = 'icebox';

    $scope.file.groups = {};

    lines.forEach(function (line, index) {

      var cleanedSizes = [];

      if (line.match('---')) {
        groupname = lines[index - 1].trim().toLowerCase();
      }
      if (!$scope.file.groups[groupname]) $scope.file.groups[groupname] = [];

      var res = line.match(/([A-Z\s']+)[A-Za-z\s.,!']([A-Z\s']+)[A-Za-z\s.,!']([A-Z\s']+)/g),
          size = line.match(/\[.+\]/g);


      if (!res) return;

      if (size) {
        cleanedSizes = size.map(function (segment) {
          return segment
                  .replace('[', '')
                  .replace(']', '');
        });
      }

      var cleaned = res.map(function (segment, index) {
        var str = (segment || '')
                    .replace(',', '')
                    .replace(/as a/i, '')
                    .trim();
        if (index === 0) str = str.replace(/ i/i, '').trim();
        return str.toLowerCase();
      });

      cleaned = cleaned.slice(0,2).concat(cleaned.slice(2).join(' '));

      var story = _.object(['who', 'what', 'why'], cleaned);

      story.sizes = cleanedSizes;

      $scope
        .file
        .groups[groupname]
        .push(story);

    });

    storage.save('file', $scope.file);
  };

  $scope.searchFor = function (actor) {
    $scope.search = $scope.search || '';
    if ($scope.search.indexOf(actor) !== -1) {
      $scope.search.replace(actor, '');
    } else {
      $scope.search = ($scope.search + ' ' + actor).trim();
    }
  };

})

</script>