<!doctype html>
<html ng-app="multistory" ng-controller="MultistoryCtrl" ng-cloak>
<meta charset="utf8">
<title>Multistory</title>

<link rel="stylesheet" href="/assets/css/fonts.css">
<link rel="stylesheet" href="/assets/css/app.css">

<header>
  <h1>multistory</h1>
  <a class="sign-in"
     ng-click="auth()"
     ng-hide="authenticated">Sign in with Dropbox</a>
  <span class="search">
    <span class="icon-search"></span>
    <input ng-model="search" type="search">
  </span>
</header>

<div ng-view></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.9.1/dropbox.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.3/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="/assets/app/dropbox.js"></script>
<script src="/assets/app/storage.js"></script>
<script src="/assets/app/filters.js"></script>
<script src="/assets/app/app.js"></script>