* { box-sizing: border-box; }
[ng-cloak] {
  visibility: hidden;
}
body {
  margin: 0;
  padding: 0;
  font: 14px/1.5 sans-serif;
  padding-left: 50vw;
}
button {
  font: 14px/1.5 sans-serif;
}
h1, h2 {
  margin: 0;
}
header {
  padding: 1em;
  border-bottom: 1px solid #444;
  background: #fafafa;
}

header a {
  text-decoration: none;
  color: hsl(204, 82%, 57%);
}
  header a:hover {
    color: hsl(204, 82%, 50%);
  }
  header a:active {
    color: hsl(204, 82%, 40%);
  }

header h1 {
  display: block;
  font-size: 1em;
  float: right;
}

header menu {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 0.667em;
}

.sign-in {
  background: hsl(204, 82%, 57%);
  border: none;
  border-radius: 0.444em;
  font-size: 1em;
  color: white;
  float: right;
  padding: 0.444em 1em;
  margin-top: -0.444em;
  margin-right: 1em;
  cursor: pointer;
  text-decoration: none;
}
  .sign-in:hover {
    background: hsl(204, 82%, 50%);
    color: white;
  }
  .sign-in:active {
    background: hsl(204, 82%, 45%);
    color: white;
  }

.stories, .actors {
  padding: 1em 1em 0;
}

.browser {
  padding: 1em 0 0;
}

.search input {
  margin-left: 0.444em;
}

.browser ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.browser .files a {
  display: block;
}
  .browser .files a:hover {
    background: hsl(204, 82%, 97%);
  }

.browser .folder {
  color: #888;
}
.browser .document {
  color: hsl(204, 82%, 57%);
}

.meta {
  margin-bottom: 0.444em;
}

.meta a {
  font-weight: bold;
  text-decoration: none;
  color: hsl(204, 82%, 57%);
}
  .meta a:hover {
    color: hsl(204, 82%, 50%);
  }
  .meta a:active {
    color: hsl(204, 82%, 40%);
  }

textarea {
  display: block;
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  border-right: 1px solid #444;
  padding: 1em;
  font: 14px/1.5 'Source Code Pro', monospace;
}
textarea:focus {
  outline: none;
  background: #fafafa;
}