* { box-sizing: border-box; }

[ng-cloak] {
  visibility: hidden;
}

/* Reset */

body {
  margin: 0;
  padding: 0;
  font: 14px/1.5 'Open Sans', sans-serif;
}

button, input {
  font: 14px/1.5 'Open Sans', sans-serif;
  max-width: 100%;
}
h1, h2, h3, h4 {
  font-size: 1em;
  margin: 0;
}

/* Landing page */

.landing {
  width: 80%;
  max-width: 38em;
  background: #eee;
  padding: 2.5em;
  margin: 10vh auto;
  position: relative;
}
  .landing h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1.5em;
    text-transform: uppercase;
  }
  .landing:before {
    content: '';
    display: block;
    background: white;
    -webkit-transform: rotate(45deg);
    height: 20vh;
    width: 20vh;
    top: -10vh;
    right: -10vh;;
    position: absolute;
  }

.landing section {
  margin: 1.5em 0;
}
  .landing section p {
    margin: 0 0 1em;
  }
  .landing section:last-of-type,
  .landing section p:last-of-type {
    margin-bottom: 0;
  }

/* Auth */

.auth {
  padding: 2.5em;
  text-align: center;
}

/* View */

.view header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20vw;
  padding: 1.5em 1.5em;
  background: #eee;
}

.view header h1 {
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  right: 1.5em;
  color: #ddd;
}

.view header input[type="search"] {
  width: 100%;
}

.view header p {
  padding: 0 0.444em;
}

.view .stories {
  width: 80vw;
  padding: 1.5em 1.5em;
}

.stories ul {
  margin: 0;
  padding-left: 2.5em;
}

.parsed ul ul {
  list-style: none;
  padding-left: 1.5em;
}

.stories .section {
  margin-bottom: 1.5em;
}

.stories .who,
.stories .what,
.stories .why {
  font-weight: normal;
}

.highlight .who {
  background: #c3fcbd;
}

.highlight .what {
  background: #fffda2;
}

.highlight .why {
  background: #ffd4df;
}

.view .another {
  padding: 0 0.667em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view .reloading {
  color: #ddd;
}

.view .field {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.field.search {
  position: relative;
}

.field.search input {
  text-indent: 0.667em;
}

.field.search:after {
  font-family: 'multistory';
  content: "\23";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  position: absolute;
  left: 0.444em;
  top: 0.444em;
  pointer-events: none;
  opacity: 0.4;
}

/* Dropbox */

.sign-in {
  background: hsl(204, 82%, 57%);
  border: none;
  border-radius: 0.444em;
  font-size: 1em;
  font-weight: normal;
  color: white;
  padding: 0.444em 1em;
  cursor: pointer;
  text-decoration: none;
  max-width: 17em;
  text-align: center;
  margin: 0 auto 2.5em;
  display: block;
}
  .sign-in:hover {
    background: hsl(204, 82%, 50%);
    color: white;
  }
  .sign-in:active {
    background: hsl(204, 82%, 45%);
    color: white;
  }

/* Browser */

[dropbox-browser] ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

[dropbox-browser] .files a {
  display: block;
  text-decoration: none;
  padding: 0 0.444em;
}
  [dropbox-browser] .files a:hover {
    background: rgba(0,0,0,.1);
  }

[dropbox-browser] .folder {
  color: #888;
}
[dropbox-browser] .document {
  color: hsl(204, 82%, 57%);
}

[dropbox-browser] .meta {
  margin-bottom: 0.444em;
}

[dropbox-browser] .meta a {
  font-weight: bold;
  text-decoration: none;
  color: hsl(204, 82%, 57%);
}
  [dropbox-browser] .meta a:hover {
    color: hsl(204, 82%, 50%);
  }
  [dropbox-browser] .meta a:active {
    color: hsl(204, 82%, 40%);
  }