* { box-sizing: border-box; }

[ng-cloak] {
  visibility: hidden;
}

/* Reset */

body {
  margin: 0;
  padding: 0;
  font: 16px/1.5 'Open Sans', sans-serif;
}

button, input {
  font: 16px/1.5 'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
  font-size: 1em;
  margin: 0;
}

/* Landing page */

.landing {
  width: 80%;
  max-width: 38em;
  background: #eee;
  padding: 2.5em;
  margin: 10vh auto;
  position: relative;
}
  .landing h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1.5em;
    text-transform: uppercase;
  }
  .landing:before {
    content: '';
    display: block;
    background: white;
    -webkit-transform: rotate(45deg);
    height: 20vh;
    width: 20vh;
    top: -10vh;
    right: -10vh;;
    position: absolute;
  }

.landing section {
  margin: 1.5em 0;
}
  .landing section p {
    margin: 0 0 1em;
  }

/* Dropbox */

.sign-in {
  background: hsl(204, 82%, 57%);
  border: none;
  border-radius: 0.444em;
  font-size: 1em;
  font-weight: normal;
  color: white;
  padding: 0.444em 1em;
  cursor: pointer;
  text-decoration: none;
  max-width: 17em;
  text-align: center;
  margin: 0 auto 2.5em;
  display: block;
}
  .sign-in:hover {
    background: hsl(204, 82%, 50%);
    color: white;
  }
  .sign-in:active {
    background: hsl(204, 82%, 45%);
    color: white;
  }

/* Browser */

.browser ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.browser .files a {
  display: block;
}
  .browser .files a:hover {
    background: hsl(204, 82%, 97%);
  }

.browser .folder {
  color: #888;
}
.browser .document {
  color: hsl(204, 82%, 57%);
}

.meta {
  margin-bottom: 0.444em;
}

.meta a {
  font-weight: bold;
  text-decoration: none;
  color: hsl(204, 82%, 57%);
}
  .meta a:hover {
    color: hsl(204, 82%, 50%);
  }
  .meta a:active {
    color: hsl(204, 82%, 40%);
  }