<div class="browser"
     ng-show="open">
  <div class="meta">
    <span ng-show="path.stack.length">
      <a ng-click="back()" href="#"><span class="icon-back"></span> Back</a>
      <em>from</em>
    </span>
    <strong>{{path.current()}}</strong>
  </div>
  <div ng-hide="path.entries">No files.</div>
  <ul class="files">
    <li ng-repeat="entry in path.entries">
      <a class="folder"
         href="#"
         ng-click="openFolder(entry.name)"
         ng-show="entry.isFolder">
         <span class="icon-folder"></span> {{ entry.name }}
      </a>
      <a class="document"
         href="#"
         ng-click="openFile(entry.name)"
         ng-show="!entry.isFolder">
        <span class="icon-document"></span> {{ entry.name }}
      </a>
    </li>
  </ul>
</div>
