<div class="landing">

  <h1>Multistory</h1>

  <h2>
    <a href="/auth/dropbox" class="sign-in">
      Pick a text file from Dropbox
    </a>
  </h2>

  <article class="tutorial">
    <h3>Write user stories in a .txt or .md file with this übersimple syntax.</h3>
    <section>
      <h4>Stories</h4>
      <p>
        One per line. User stories have three parts: WHO, WHAT and WHY:
      </p>
      <p>
        <em>As a PERSON I want to EAT FOOD so I can SURVIVE THE WEEK</em>.
      </p>
    </section>
    <section>
      <h4>Sections</h4>
      <p>
        Sections (icebox, backlog etc) are denoted with hyphens or dashes on the line below.
      </p>
    </section>
    <section>
      <h4>People &amp; tags</h4>
      <p>
        Add Twitter handles like @yandle and @phuunet, and hashtag a #bug or #task.
      </p>
    </section>
    <section>
      <h4>Sizes &amp; estimates</h4>
      <p>
        Numbers in square brackets &ndash; <strong>[2]</strong> &ndash; are taken to be story points. Appending 'h' denotes hours; 'd' for days.
      </p>
    </section>
  </article>

</div>