<textarea ng-model="file.raw"></textarea>

<div class="actors">
  Show:
  <button ng-repeat="actor in actors"
          ng-click="searchFor(actor)">{{actor}}</button>
</div>

<div class="stories">
  <div ng-repeat="stories in groupsArray | removeEmpty"
       ng-show="stories | filter:search">
    <h2>{{stories.$key}}</h2>
    <ul>
      <li ng-repeat="story in stories | filter:search">
        <strong>{{story.who}}</strong>
        :
        {{story.what}}
        :
        <em>{{story.why}}</em>
        <span ng-show="story.sizes.length">
          :
          <span ng-repeat="size in story.sizes">[{{size}}]</span>
        </span>
      </li>
    </ul>
  </div>
  <div ng-hide="groupsArray.length">
    No stories found!
  </div>
</div>