<textarea ng-model="file.raw" ng-change="parse()"></textarea>

<div class="browser"
     ng-show="authenticated">
  <button ng-show="path.stack.length"
          ng-click="back()">&larr; Back</button>
  <span>{{path.current}}</span>
  <ul>
    <li ng-repeat="entry in dropbox.entries | folderOrTxt">
      <a class="folder"
         href="#"
         ng-click="openFolder(entry.name)"
         ng-show="entry.isFolder">
         <span class="icon-folder"></span> {{ entry.name }}
      </a>
      <a class="document"
         href="#"
         ng-click="openFile(entry.name)"
         ng-show="!entry.isFolder">
        <span class="icon-document"></span> {{ entry.name }}
      </a>
    </li>
  </ul>
</div>

<div class="actors">
  Show:
  <button ng-repeat="actor in actors"
          ng-click="searchFor(actor)">{{actor}}</button>
</div>

<div class="stories">
  <div ng-repeat="stories in groupsArray | removeEmpty">
    <h2>{{stories.$key}}</h2>
    <ul>
      <li ng-repeat="story in stories | filter:search">
        <strong>{{story.who}}</strong>
        :
        {{story.what}}
        :
        <em>{{story.why}}</em>
        <span ng-show="story.sizes.length">
          :
          <span ng-repeat="size in story.sizes">[{{size}}]</span>
        </span>
      </li>
    </ul>
  </div>
  <div ng-hide="groupsArray.length">
    No stories found!
  </div>
</div>