<h2>{{stories.$key}}</h2>
<ul ng-show="view.parsed">
  <li ng-repeat="story in stories | filter:search"
      ng-hide="(story.who && !view.show.who) && (story.what && !view.show.what) && (story.why && !view.show.why) && (!view.show.sizes || !story.sizes.length)"
  >
    <strong ng-show="view.show.who">{{story.who}}</strong>
    <span ng-show="view.show.who && view.show.what">:</span>
    <span ng-show="view.show.what">{{story.what}}</span>
    <span ng-show="view.show.what && view.show.why">:</span>
    <em ng-show="view.show.why">{{story.why}}</em>
    <span ng-show="story.sizes.length && view.show.sizes">
      <span ng-show="view.show.who || view.show.what || view.show.why">:</span>
      <span ng-repeat="size in story.sizes">[{{size}}]</span>
    </span>
  </li>
</ul>

<div ng-repeat="story in stories | filter:search"
     ng-hide="view.parsed">
  {{story.raw}}
</div>
