<h2>{{stories.$key}}</h2>
<ul class="parsed" ng-hide="view.raw">
  <li ng-repeat="story in stories | filter:search"
      ng-hide="((story.who && !view.show.who) && (story.what && !view.show.what) && (story.why && !view.show.why)) || (view.show.unsized && story.sizes.length)">
    <span ng-show="view.show.who">As a</span>
    <strong class="who"
            ng-show="view.show.who">{{story.who}}</strong>
    <span ng-show="(view.show.who && view.show.what) || (view.show.who && view.show.why)">I want to</span>
    <strong class="what"
            ng-show="view.show.what">{{story.what}}</strong>
    <span ng-show="view.show.what && view.show.why">so I can</span>
    <strong class="why"
            ng-show="view.show.why">{{story.why}}</strong>
    <span ng-show="story.sizes.length">
      <strong ng-repeat="size in story.sizes">[{{size}}]</strong>
    </span>
    <ul class="subitems"
        ng-show="view.subitems">
      <li ng-repeat="subitem in story.subitems">
        <span ng-repeat="segment in subitem">
          <a href="#"
             ng-click="searchFor(segment.raw)"
             ng-show="segment.mention || segment.hashtag">{{segment.raw}}</a>
          <span ng-show="segment.text">{{segment.raw}}</span>
        </span>
      </li>
    </ul>
  </li>
</ul>

<ul class="raw" ng-show="view.raw">
  <li ng-repeat="story in stories | filter:search">
    {{story.raw}}
    <ul class="subitems"
        ng-show="view.subitems">
      <li ng-repeat="subitem in story.subitems">
        {{subitem.original}}
      </li>
    </ul>
  </li>
</ul>
