<div class="view">
  <header>
    <h1>Multistory</h1>

    <div class="field search">
      <input type="search"
             placeholder="Search"
             ng-model="search">
    </div>

    <p class="section-picker">
      <span class="field"
           ng-repeat="stories in sections">
        <input type="checkbox"
               id="show-{{stories.$key}}"
               ng-model="stories.show"> <label for="show-{{stories.$key}}">{{stories.$key}}</label>
      </span>
    </p>

    <p class="view-picker">
      <span class="field">
        <input type="checkbox"
               id="show-raw"
               ng-model="view.raw"> <label for="show-raw">Raw</label>
      </span>
      <span class="field">
        <input type="checkbox"
               id="show-autoupdate"
               ng-model="view.autoupdate"> <label for="show-autoupdate">Auto-update (dev)</label>
      </span>
    </p>

    <p class="view-picker">
      <span class="field">
        <input type="checkbox"
               id="show-subitems"
               ng-model="view.subitems"> <label for="show-subitems">Sub-items</label>
      </span>
    </p>

    <p class="view-picker"
       ng-hide="view.raw">
      <span class="field">
        <input type="checkbox"
               id="show-highlight"
               ng-model="view.highlight"> <label for="show-highlight">Highlight</label>
      </span>
      <span class="field">
        <input type="checkbox"
               id="show-unsized"
               ng-model="view.show.unsized"> <label for="show-unsized">Unsized</label>
      </span>
    </p>

    <p class="segment-picker"
       ng-hide="view.raw">
      <span class="field"
            ng-repeat="seg in view.segments">
        <input type="checkbox"
               id="show-{{seg}}"
               ng-model="view.show[seg]"> <label for="show-{{seg}}">{{seg | capitalize}}</label>
      </span>
    </p>

    <p class="another">
      <a href="/pick">View another file&hellip;</a>
    </p>

    <p class="reloading"
       ng-show="view.reloading">
      Reloading&hellip;
    </p>
  </header>

  <div class="stories"
       ng-class="{ highlight: view.highlight }">
    <div class="section"
         ng-repeat="stories in sections | filter:{ show: true }"
         ng-include=" '/template/stories.html' ">
    </div>
  </div>
</div>
