<div class="view">
  <header>
    <h1>Multistory</h1>

    <div class="field search">
      <input type="search"
             placeholder="Search"
             ng-model="search">
    </div>

    <p class="section-picker">
      <span class="field"
           ng-repeat="stories in sections">
        <input type="checkbox"
               ng-model="stories.show"> {{stories.$key}}
      </span>
    </p>

    <p class="view-picker">
      <span class="field">
        <input type="checkbox"
               ng-model="view.raw"> Raw
      </span>
    </p>

    <p class="view-picker">
      <span class="field">
        <input type="checkbox"
               ng-model="view.subitems"> Sub-items
      </span>
    </p>

    <p class="view-picker"
       ng-hide="view.raw">
      <span class="field">
        <input type="checkbox"
               ng-model="view.highlight"> Highlight
      </span>
      <span class="field">
        <input type="checkbox"
               ng-model="view.show.unsized"> Unsized
      </span>
    </p>

    <p class="segment-picker"
       ng-hide="view.raw">
      <span class="field"
            ng-repeat="seg in view.segments">
        <input type="checkbox"
               ng-model="view.show[seg]"> {{seg | capitalize}}
      </span>
    </p>

    <p class="another">
      <a href="/pick">View another file&hellip;</a>
    </p>

    <p class="reloading"
       ng-show="view.reloading">
      Reloading&hellip;
    </p>
  </header>

  <div class="stories"
       ng-class="{ highlight: view.highlight }">
    <div class="section"
         ng-repeat="stories in sections | filter:{ show: true }"
         ng-include=" '/template/stories.html' ">
    </div>
  </div>
</div>
