<div class="view">
  <header>
    <div class="field search">
      <input type="search"
             ng-model="search">
    </div>
    <p class="section-picker">
      <span class="field"
           ng-repeat="stories in sections | removeEmpty">
        <input type="checkbox"
               ng-model="stories.show"> {{stories.$key}}
      </span>
    </p>
    <p class="another">
      <a href="/pick">View another file...</a>
    </p>
  </header>

  <div class="stories">
    <div class="section"
         ng-repeat="stories in sections | removeEmpty | filter:{ show: true }"
         ng-include=" '/template/stories.html' ">
    </div>
    <div ng-hide="sections.length">
      No stories found!
    </div>
  </div>
</div>
